.tooltip-container {
    position: relative;
    display:block;
    cursor: pointer;

  }

    .tooltip-text {
    visibility: hidden;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    border-radius: 12px;
    padding: 10px;
    width: 500px;
    height: 100px;
    position: absolute;
    z-index: 1;
    bottom: 0%; /* Position above the element */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    border: 2px solid #ccc;
    white-space: normal; 
    display: flex; 
    align-items: center;
    justify-content: center;
  }
  
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    transform: translateX(-30%) translateY(-10px);
  }
  
  .tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%; /* Arrow at the bottom */
    left: 50%;
    transform: translateX(-30%);
    border-width: 6px;
    border-style: solid;
    border-color: #f0f0f0 transparent transparent transparent;
}